body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

#root {
    height: 100vh;
}

button {
    cursor: pointer;
}

h1 h2 h3 h4 h5 h6 p {
    font-family: 'Open Sans', sans-serif;
}
